section.about.section#about
  .about__container.container.grid
    .about__data
      h2.section-title.about__title
        | More Information <br> About The Best Beaches
      p.about__description
        | You can find the most beautiful and pleasant places
        | at the best prices with special discounts, you choose
        | the place we will guide you all the way to wait,
        | get your place now.
      a.button(href="#") Reserve a place

    .about__img
      .about__img-overlay
        img.about__img-one(src="assets/img/about1.jpg" alt="")
      .about__img-overlay
        img.about__img-two(src="assets/img/about2.jpg" alt="")