section.about.section#about
  .about__container.container.grid
    .about__data
      h2.section-title.about__title
        | Больше Информации <br> О Лучших Пляжах
      p.about__description
        | Найдите самые прекрасные места по лучшим ценам
        | со специальными скидками. Вы выбираете направление –
        | Мы полностью организуем вашу поездку.
        | Не ждите лучшего времени, зарезервируйте тур прямо сейчас!
      a.button(href="#") Зарезервировать тур

    .about__img
      .about__img-overlay
        img.about__img-one(src="assets/img/about1.jpg" alt="")
      .about__img-overlay
        img.about__img-two(src="assets/img/about2.jpg" alt="")