section.discover.section#discover
  h2.section-title Исследуйте самые <br> привлекательные направления

  .discover__container.container.swiper
    .swiper-wrapper
      .discover__card.swiper-slide
        img.discover__img(src="assets/img/discover1.jpg" alt="")
        .discover__data
          h3.discover__title Бали
          span.discover__description 24 тура доступны

      .discover__card.swiper-slide
        img.discover__img(src="assets/img/discover2.jpg" alt="")
        .discover__data
          h3.discover__title Гавайи
          span.discover__description 15 туров доступны

      .discover__card.swiper-slide
        img.discover__img(src="assets/img/discover3.jpg" alt="")
        .discover__data
          h3.discover__title Хвар
          span.discover__description 18 туров доступны

      .discover__card.swiper-slide
        img.discover__img(src="assets/img/discover4.jpg" alt="")
        .discover__data
          h3.discover__title Уайтхейвен
          span.discover__description 32 тура доступны