footer.footer.section
  .footer__container.container.grid
    .footer__content.grid
      .footer__data
        h3.footer__title Travel
        p.footer__description
          | Travel you choose the <br> destination, we offer you the <br> experience.

        div
          a.footer__social(href="https://www.facebook.com/" target="_blank")
            i.ri-facebook-box-fill

          a.footer__social(href="https://twitter.com/" target="_blank")
            i.ri-twitter-fill

          a.footer__social(href="https://www.youtube.com/" target="_blank")
            i.ri-instagram-fill

          a.footer__social(href="https://www.facebook.com/" target="_blank")
            i.ri-youtube-fill

      .footer__data
        h3.footer__subtitle About

        ul
          li.footer__item
            a.footer__link(href="#") About Us
          li.footer__item
            a.footer__link(href="#") Features
          li.footer__item
            a.footer__link(href="#") New & Blog

      .footer__data
        h3.footer__subtitle Company

        ul
          li.footer__item
            a.footer__link(href="#") Team
          li.footer__item
            a.footer__link(href="#") Plan & Pricing
          li.footer__item
            a.footer__link(href="#") Become a member

      .footer__data
        h3.footer__subtitle Support

        ul
          li.footer__item
            a.footer__link(href="#") FAQs
          li.footer__item
            a.footer__link(href="#") Support Center
          li.footer__item
            a.footer__link(href="#") Contact Us

    .footer__rights
      p.footer__copy
        | 2022 Victor Nov. Pet project
      .footer__terms
        a.footer__terms-link(href="#") Terms & Agreements
        a.footer__terms-link(href="#") Privacy Policy