footer.footer.section
  .footer__container.container.grid
    .footer__content.grid
      .footer__data
        h3.footer__title Travel
        p.footer__description
          | Travel – вы выбираете <br> направление, мы предлагаем <br> воплощение мечты.

        div
          a.footer__social(href="https://www.facebook.com/" target="_blank")
            i.ri-facebook-box-fill

          a.footer__social(href="https://twitter.com/" target="_blank")
            i.ri-twitter-fill

          a.footer__social(href="https://www.youtube.com/" target="_blank")
            i.ri-instagram-fill

          a.footer__social(href="https://www.facebook.com/" target="_blank")
            i.ri-youtube-fill

      .footer__data
        h3.footer__subtitle О нас

        ul
          li.footer__item
            a.footer__link(href="#") Кто Мы
          li.footer__item
            a.footer__link(href="#") Наши Преимущества
          li.footer__item
            a.footer__link(href="#") Новости

      .footer__data
        h3.footer__subtitle Компания

        ul
          li.footer__item
            a.footer__link(href="#") Наша Команда
          li.footer__item
            a.footer__link(href="#") Планы и Цены
          li.footer__item
            a.footer__link(href="#") Стать Клиентом

      .footer__data
        h3.footer__subtitle Поддержка

        ul
          li.footer__item
            a.footer__link(href="#") Частые Вопросы
          li.footer__item
            a.footer__link(href="#") Центр Поддержки
          li.footer__item
            a.footer__link(href="#") Контакты

    .footer__rights
      p.footer__copy
        | 2022 Victor Nov. Pet project
      .footer__terms
        a.footer__terms-link(href="#") Пользовательское соглашение
        a.footer__terms-link(href="#") Политика конфиденциальности