header.header#header
  nav.nav.container
    a.nav__logo(href="#") Travel

    .nav__menu#nav-menu
      ul.nav__list
        li.nav__item
          a.nav__link.active-link(href="#home") Главная
        li.nav__item
          a.nav__link(href="#about") О нас
        li.nav__item
          a.nav__link(href="#discover") Исследуй
        li.nav__item
          a.nav__link(href="#place") Направления

      .nav__dark
        span.change-theme-name Темный режим
        i.ri-moon-line.change-theme#theme-button

      i.ri-close-line.nav__close#nav-close

    .nav__toggle#nav-toggle
      i.ri-function-line