section.home#home
  img.home__img(src="assets/img/home1.jpg" alt="")

  .home__container.container.grid
    .home__data
      span.home__data-subtitle Discover your place
      h1.home__data-title Explore The <br> Best <b>Beautiful <br> Beaches</b>
      a.button(href="#") Explore

    .home__social
      a.home__social-link(href="https://www.facebook.com/" target="_blank")
        i.ri-facebook-box-fill
      a.home__social-link(href="https://www.instagram.com/" target="_blank")
        i.ri-instagram-fill
      a.home__social-link(href="https://twitter.com/" target="_blank")
        i.ri-twitter-fill

    .home__info
      div
        span.home__info-title 5 best places to visit
        a.button.button--flex.button--link.home__info-button(href="#") More
          i.ri-arrow-right-line

      .home__info-overlay
        img.home__info-img(src="assets/img/home2.jpg" alt="")