section.place.section#place
  h2.section-title Choose Your Place

  .place__container.container.grid
    .place__card
      img.place__img(src="assets/img/place1.jpg" alt="")

      .place__content
        span.place__rating
          i.ri-star-line.place__rating-icon
          span.place__rating-number 4,8

        .place__data
          h3.place__title Bali
          span.place__subtitle Indonesia
          span.place__price $2499

      button.button.button--flex.place__button
        i.ri-arrow-right-line

    .place__card
      img.place__img(src="assets/img/place2.jpg" alt="")

      .place__content
        span.place__rating
          i.ri-star-line.place__rating-icon
          span.place__rating-number 5,0

        .place__data
          h3.place__title Bora Bora
          span.place__subtitle Polinesia
          span.place__price $1599

      button.button.button--flex.place__button
        i.ri-arrow-right-line

    .place__card
      img.place__img(src="assets/img/place3.jpg" alt="")

      .place__content
        span.place__rating
          i.ri-star-line.place__rating-icon
          span.place__rating-number 4,9

        .place__data
          h3.place__title Hawaii
          span.place__subtitle EE.UU
          span.place__price $3499

      button.button.button--flex.place__button
        i.ri-arrow-right-line

    .place__card
      img.place__img(src="assets/img/place4.jpg" alt="")

      .place__content
        span.place__rating
          i.ri-star-line.place__rating-icon
          span.place__rating-number 4,8

        .place__data
          h3.place__title Whitehaven
          span.place__subtitle Australia
          span.place__price $2499

      button.button.button--flex.place__button
        i.ri-arrow-right-line

    .place__card
      img.place__img(src="assets/img/place5.jpg" alt="")

      .place__content
        span.place__rating
          i.ri-star-line.place__rating-icon
          span.place__rating-number 4,8

        .place__data
          h3.place__title Hvar
          span.place__subtitle Croacia
          span.place__price $1999

      button.button.button--flex.place__button
        i.ri-arrow-right-line