section.sponsor.section
  .sponsor__container.container.grid
    img.sponsor__img(src="assets/img/sponsors1.png" alt="")
    img.sponsor__img(src="assets/img/sponsors2.png" alt="")
    img.sponsor__img(src="assets/img/sponsors3.png" alt="")
    img.sponsor__img(src="assets/img/sponsors4.png" alt="")
    img.sponsor__img(src="assets/img/sponsors5.png" alt="")