section.subscribe.section
  .subscribe__bg
    .subscribe__container.container
      h2.section-title.subscribe__title Подпишитесь <br> На Наши Новости
      p.subscribe__description Подпишитесь на нашу новостную рассылку и получите персональную <b>скидку 30%</b> на любой из туров.

      form.subscribe__form
        input.subscribe__input(type="text" placeholder="Ваш e-mail")

        button.button Подписаться