section.video.section
  h2.section-title Видео-тур

  .video__container.container
    p.video__description
      | Ознакомьтесь с нашей видеопрезентацией лучших
      | туристических направлений для вас и вашей семьи.

    .video__content
      video#video-file
        source(src="assets/video/video.mp4" type="video/mp4")

      button.button.button--flex.video__button#video-button
        i.ri-play-line.video__button-icon#video-icon