doctype html
html(lang="ru")
  head
    include ./pug_modules/_head

  body
    include ./pug_modules/_header

    main.main
      include ./pug_modules/_home
      include ./pug_modules/_about
      include ./pug_modules/_discover
      include ./pug_modules/_experience
      include ./pug_modules/_video
      include ./pug_modules/_places
      include ./pug_modules/_subscribe
      include ./pug_modules/_sponsors

    script(src="js/swiper-bundle.min.js")
    script(src="js/app.min.js")